@font-face {
  font-family: "Courrier";  src :url('Courier_Prime.ttf');
}




p{
  font-family: Courrier;
}

h2{

  font-family: 'Indie Flower', cursive;
}

main{

  background-color: rgba( 96, 96, 96);
}
